[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
